body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menucontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container {
    display: grid;
    margin-top: 20px;
    outline: 1px solid black;
    width: 840px;
    height: 840px;
}
.boxes {
    border: 1px solid black;
}

button {
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    font-size: 21px;
    background-color: lightgray;
    margin: -3px;
}
